<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.linjb.dao.cluster.UserLoginDao">
	<resultMap id="BaseResultMap" type="com.linjb.model.UserLogin">
		<result column="user_id" property="userId" />
		<result column="username" property="userName" />
		<result column="pwd" property="pwd" />
	</resultMap>

	<parameterMap id="UserLogin" type="com.linjb.model.UserLogin"/>

	<sql id="Base_Column_List">
		user_id,username,pwd
	</sql>

	<select id="findByUsername" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from user_login
		where username = #{username}
	</select>

</mapper>
